# Configuration Oracle ODS
ods_host=****
ods_port=1521
ods_user=ODSDI1
ods_user_password=****
ods_db=SIDDGI

# Configuration PostgreSQL
ODS_PG_HOST=****
ODS_PG_PORT=5432
ODS_PG_USER=postgres
ODS_PG_PASSWORD=****
ODS_PG_DB=postgres
