*.log
node_modules/
.env
__pycache__/
*.pyc
.DS_Store
venv/
venv-w/
.idea/
*.swp

# Keep these directories tracked, but ignore their contents
/data/*
!/data/.gitkeep

/output/*
!/output/.gitkeep

/programmes/*
!/programmes/.gitkeep

/docs/*
!/docs/.gitkeep
